@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: rgb(173, 180, 173);
  margin: 1rem;
}

.container {
  margin: 0;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 9rem;
  padding: 0.1rem;
  border-radius: 0.5rem;
  font-size: 3rem;
}

.red {
  color: red;
}

.black {
  color: black;
}

.firstSuit {
  padding-left: 0.5rem;
}
.secondSuit {
  padding-left: 6rem;
}
.valueContainer {
  text-align: center;
  font-size: 5rem;
}
#drawnCardsContainer {
  display: flex;
}
#drawnOrderedCardscontainer {
  margin-top: 5 rem;
}
